<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

<% if current_user %>
  <%= link_to "Facebook lite", litposts_path , id: "logo" %>
<%else%>
  <%= link_to "Facebook lite", root_path , id: "logo" %>
<%end%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Site Activity", activities_path %></li>
          
<% if current_user %>     
<!-- login buttton -->
    <li class="dropdown-user">
       <a href="#" class="btn dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <!-- user name on button af.login-->  
          <%= current_user.name %> 
  <!-- END OF user name on button -->  
         <b class="caret"></b><!-- drop down sign v -->
       </a>

  <!-- drop for log in -->
      <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
  <!-- admin user option -->
  <!-- END OF admin user option -->
              <li class="divider"></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      </li>
    </ul>
   </li>
  <!-- END OF drop for log in -->
<% else %>
<!--signin-->
  <li><%= link_to "Sign in with Facebook", "auth/:provider/callback", id: "sign_in" %></li>
<!--END of signin-->     
      
            
<%end%>         
      </ul>
    </nav>
  </div>
</header>